<!-- SECCIÓN VR -->

<!-- contenedor completo -->
<section class="bg-white px-6 py-24 lg:px-8 lg:py-40">
  <div class="relative mx-auto max-w-6xl">

    <!-- imagen para celular -->
    <img src="/images/mobile/image-interactive.jpg" class="w-full lg:hidden"/>

    <!-- imagen para computadora -->
    <img src="/images/desktop/image-interactive.jpg" class="hidden w-auto max-w-full lg:block"/>

    <!-- 
    el texto se adapta en movil y en computadora 
    las clases "lg" solo se aplican en escritorio
    -->
    <div class="mx-auto mt-12 max-w-xl text-center lg:absolute lg:right-0 lg:bottom-0 lg:mt-0 lg:bg-white lg:pl-20 lg:pt-16 lg:text-left">
      <h2 class="font-['Josefin_Sans'] text-3xl uppercase leading-none sm:text-4xl lg:text-5xl">The leader in interactive VR</h2>

      <p class="font-['Alata'] mt-6 text-[15px] leading-7 text-gray-500">Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand.</p>
    </div>
  </div>
</section>